/* $off-white: #FAFAF2
$off-black: #252525
$light: #F9F8B5
$primary-red: #A92116
$primary-gold: #F3A93C */

* {
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
}

body{
  background-color: #FAFAF2;
}
h2, h3{
  margin: 0px;
  color: white;
}

/* PREDICTION DISPLAY */
#prediction-container{
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  padding: 5px;
  width: 50%;
  justify-content: center;
  background-color: #A92116;
}
.prediction-box{
  list-style: none;
  border: 1px solid gray;
  flex: auto;
  padding: 20px;
  margin: 5px;
}
.list-rank {}


/* NEW FILM ENTRY */
#film-entry-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  border: 1px solid black;
  padding: 5px;
  width: 50%;
  background-color: #A92116;
}
#film-entry-input {
  padding: 5px;
  width: 80%;
  color: #252525;
}
#film-entry-dropdown {
  background-color: #F3A93C;
  color: #252525;
}
.dropdown-cell {
  font-size: 13px;
  list-style: none;
  padding: 5px;
  width: 80%;
  border: 1px solid black;
  background-color: #F3A93C !important;
}
.dropdown-cell:hover {
  cursor: pointer;
}
/* BUTTONS */
button {
  background-color: #252525;
}
button:hover {
  cursor: pointer;
}
.button-delete {}


.button-up {}


.button-down {}